@charset "UTF-8";

body {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(129, 102, 50);
    font-size: 16;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    width: auto;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.514);
}

footer {
    color: white;
    text-align: center;
    font-style:italic;
}